# create a new transaction
<h1>Add a new transaction!</h1>
<br />

<%= form_for @transaction do |f| %>

    <p>Category: <%= f.text_field 'category' %></p>
    <p>$ Amount: <%= f.text_field  'amount' %></p>
    <p>Description:<br/>
    
    <%= f.text_area 'description' %></p>
    <%= f.submit %>
<% end %>

<% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
      <h2><%= message%></h2> <br>
    <% end %>
<% elsif flash[:transaction_balance_error] %>
    <p><strong>DECLINED :</strong> %><br /></p>
<% end %>