# create a new transaction
<h1>Add a new transaction!</h1>
<br />

<%= form_with(model: [@account, @transaction], local: true) do |f| %>
    <p>Category:<%= f.select :category, [
    "Entertainment",
    "Household",
    "Apparel",
    "Utilities",
    "Transportation",
    "Food"
    ] %></p>
    <p>$ Amount: <%= f.text_field  'amount' %></p>
    <p>Description:<br/>
    
    <%= f.text_area 'description' %></p>
    <%= f.submit %>
<% end %>

<% if flash[:alert] %>
      <h2><%= flash[:alert] %></h2> <br>
<% end %>